!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %title aantonop/bitcoinbook translation builds
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }
    %link{ href: "/css/style.css", rel: "stylesheet" }
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      #navbar.collapse.navbar-collapse
        %h1.navbar-header
          .center.vmargin.color_white
            .fsize1 aantonop/bitcoinbook
            .fsize3 Mastering Bitcoin - Translations build system !
        %ul.nav.navbar-nav
          %li
            %a &nbsp
          /
            %li.active
              %a{ href: "#" } Home
          /
            %li
              %a{ href: "#" }
                Languages:
            - LANGUAGES.each do |lang|
              %li
                %a{ href: "#{lang}" }= lang

    %section.container
      .head_margin
      %h3 makevoid/bitcoinbook_transifex_build
      %ul.bold
        %li.fsize_big1 Gets the translations from Transifex translation platform
        %li.fsize_big1
          Creates the HTML
          / /PDF
          %span.fsize3
            \( tnx to docker and asciidoc: container
            %a{ href: "https://hub.docker.com/u/makevoid/asciidoc" }
              dockerhub:makevoid/asciidoc
            \)
        %li.fsize_big1
          There's no step 3!

      .margin30

      %p
        You can
        %a{ href: "https://github.com/makevoid/bitcoinbook_transifex_build#setup" }
          host your own build system
        ,
        %a{ href: "https://github.com/makevoid/bitcoinbook_transifex_build#fork-destination-box" }
          contribute to this repo
        \, or
        %a{ href: "https://github.com/makevoid/bitcoinbook_transifex_build/issues/new" }
          open an issue
        \, you're welcome to do it

      .right
        %a{ href: "https://www.transifex.com/projects/p/mastering-bitcoin/" }
          %img.margin-right40{ src: "http://marketersmedia.com/wp-content/uploads/2013/02/Transifex-logo.png", width: 50 }
        %a{ href: "https://github.com/aantonop/bitcoinbook" }
          %img{ src: "https://ds0k0en9abmn1.cloudfront.net/mugshots/bbc4bb5b3e.jpg" }
      .clear

      .margin30
      %hr
      .margin30

      %h2
        Translations
        /- ordered by compleition

      .langs.fsize_big3
        - LANGUAGES.each_with_index do |lang, idx|
          %a{ href: "/##{lang}" } #{lang_full(lang).capitalize}
          #{"-" unless idx+1 == LANGUAGES.size}

      // todo - download icons and put local link

      %ul
        - LANGUAGES.each do |lang|
          %li
            %h1
              %span.mini
                %a{ href: "/##{lang}" }= lang
                \-
              #{lang_full(lang).capitalize}
              %a.anchor{ name: lang }

            %ul
              - sections.map do |section|
                :ruby
                  url    = "/translations/#{lang}/#{section}"
                  gh_url = "https://github.com/makevoid/bitcoinbook_transifex_build/blob/with_translation/public/translations/#{lang}/#{section}.asciidoc"

                %li
                  %section
                    -# %a.btn.btn-primary{ href: "#{gh_url}" } GH
                    %a.btn.btn-default.btn-sm{ href: "/asciidoc/#{lang}/#{section}" } source
                    %a.btn.btn-default.btn-xs{ href: "#{url}.asciidoc" } src DL
                    -# %a.btn.btn-default.btn-xs{ href: "#{url}.asciidoc" } html DL
                    \-
                    HTML:
                    %span.fsize_big2
                      %a{ href: "#{url}.html" } #{section.capitalize.gsub("-", " ")}

      .margin50
      %p source code for this site + asciidoc translations build system:
      %a{ href: "https://github.com/makevoid/bitcoinbook_transifex_build"} makevoid/bitcoinbook_transifex_build @ github

      .margin100
